<div class="container">
    <div class="row">
        <div class="col-md-3">
            <label for="studentId">Student Id: </label>
            <input class="form-control" id="studentId" name="studentId" />
            <div class="dropdown">
                <button type="button" class="btn btn-light dropdown-toggle" id="menuDropdown" data-toggle="dropdown">
                    Make a selection <span class="caret"></span>
                </button>
                <div class="dropdown-menu">
                    @*<div class="col-md-12"><a class="dropdown-item" href="#" onclick="onSelect(1)">STUDENT PROFILE</a></div>*@       
                    <div class="col-md-12"><a class="dropdown-item" href="#" onclick="onSelect(2)">STUDENT TRANSCRIPT</a></div>
                    @*<div class="col-md-12"><a class="dropdown-item" href="#" onclick="onSelect(3)">STUDENT ACADEMIC RECORDS</a></div>*@
                    <div class="col-md-12"><a class="dropdown-item" href="#" onclick="onSelect(4)">STUDENT ED-PLAN</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-5">
                        <div>
                            <span id="lastName"></span>Cartman, Eric<span id="firstName"></span>
                        </div>
                        <div>
                            DOB: 04/05/1995<span id="birthDay"></span>
                        </div>
                        <div>
                            SSN: xxx-xx-2222 <span id="socialSecurity"></span>
                        </div>
                        <div>
                            Address: 123 Mackey Dr, SouthPark, CO<span id="address"></span>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <div>&nbsp;</div>
                        <div>
                            <span id="idNumber"></span>
                        </div>
                        <div>
                            Major: ISDS <span id="major"></span>
                        </div>
                        <div>
                            Student since: 08/19/2016<span id="studentSince"></span>
                        </div>
                        <div>
                            Expected Grad Date: 12/12Z/2018<span id="expectedGradDate"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body action-buttons">
                <button type="button" class="btn btn-light" onclick="onModifyTranscript(transcript)">SAVE</button>
                <button type="button" class="btn btn-light">CANCEL</button>
                <button type="button" class="btn btn-light">EXPORT</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="col-md-2">Course</div>
                    <div class="col-md-8">Name</div>
                    <div class="col-md-2">Grade</div>
                </div>
                <div class="transcript-body">
                    <form id="transcript" name="transcript">
                    </form>
                </div>
                <div id="coursesNeeded">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/transcript.js"></script>